<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<userSettings>
		<ExorLive.Properties.Settings>
			<setting name="CheckForUpdates" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">True</value>
			</setting>
			<setting name="UpdatePath" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">procapita</value>
			</setting>
		</ExorLive.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<ExorLive.Properties.Settings>
			<setting name="ProtocolProvider" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">ExorLive.Desktop.Procapita.Component, ExorLive.Desktop</value>
			</setting>
			<setting name="RememberLoggedInUser" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">True</value>
			</setting>
			<setting name="SignonWithWindowsUser" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">False</value>
			</setting>
		</ExorLive.Properties.Settings>
	</applicationSettings>
</configuration>
