<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<applicationSettings>
		<ExorLive.Properties.Settings>
			<setting name="AppUrl" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">http://localhost:50000/app/</value>
			</setting>
			<setting name="Debug" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">True</value>
			</setting>
			<setting name="Log" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">True</value>
			</setting>
		</ExorLive.Properties.Settings>
	</applicationSettings>
</configuration>

