<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<userSettings>
		<ExorLive.Properties.Settings>
			<setting name="UpdatePath" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">goteborg</value>
			</setting>
			<setting name="BrowserEngine" serializeAs="String">
				<value xdt:Transform="Replace">InternetExplorer</value>
			</setting>
		</ExorLive.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<ExorLive.Properties.Settings>
			<setting name="Debug" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">False</value>
			</setting>
			<setting name="AppUrl" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">https://sso.exorlive.com/auth/saml2/goteborg/</value>
			</setting>
			<setting name="RememberLoggedInUser" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">False</value>
			</setting>
		</ExorLive.Properties.Settings>
	</applicationSettings>
</configuration>
