<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ExorLive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ExorLive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
	<userSettings>
		<ExorLive.Properties.Settings>
   <setting name="BrowserEngine" serializeAs="String">
    <value>EoWebBrowser</value>
   </setting>
   <setting name="MinimizeOnExit" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Top" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Left" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Height" serializeAs="String">
    <value>768</value>
   </setting>
   <setting name="Width" serializeAs="String">
    <value>1024</value>
   </setting>
   <setting name="Maximized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UpdatePath" serializeAs="String">
    <value />
   </setting>
   <setting name="CheckForUpdates" serializeAs="String">
    <value>False</value>
   </setting>
  </ExorLive.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<ExorLive.Properties.Settings>
   <setting name="DistributorName" serializeAs="String">
    <value>ExorLive</value>
   </setting>
   <setting name="Debug" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SignonWithWindowsUser" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AppUrl" serializeAs="String">
    <value>https://exorlive.com/app/</value>
   </setting>
   <setting name="ProtocolProvider" serializeAs="String">
    <value>ExorLive.Desktop.Arguments.Component, ExorLive.Desktop</value>
   </setting>
   <setting name="RememberLoggedInUser" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Log" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AdfsUrl" serializeAs="String">
    <value />
   </setting>
  </ExorLive.Properties.Settings>
	</applicationSettings>
</configuration>
