<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" RequiredVersion="3.11.0.0">
	<Product Id="*" Language="1033" Manufacturer="ExorLive" Name="ExorLive Webwrapper" UpgradeCode="{B8A04A68-0E41-448A-BAC2-D31A56D9251D}" Version="2.2.3">
		<Package InstallScope="perUser" InstallPrivileges="limited" Comments="(c) 2017 ExorLive AS" Description="ExorLive Webwrapper" InstallerVersion="500" Keywords="Installer,MSI" Languages="1033" Manufacturer="ExorLive" Platform="x86" Compressed="yes" />
		<MediaTemplate EmbedCab="yes"/>
		<UIRef Id="WixUI_Minimal" />
		<WixVariable Id="WixUIBannerBmp" Value="Images\install.png"/>
		<WixVariable Id="WixUIDialogBmp" Value="Images\install-big.png"/>
		<WixVariable Id="WixUILicenseRtf" Value="Text\eula.rtf" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ProgramMenuDir" Name="ExorLive"></Directory>
			</Directory>
			<Directory Id="DesktopFolder"></Directory>
			<Directory Id="AppDataFolder" SourceName="Application Data">
				<Directory Id="Path_ManufacturerFolder" Name="ExorLive">
					<Directory Id="INSTALLDIR" Name="ExorLive Webwrapper" />
				</Directory>
			</Directory>
		</Directory>
		<DirectoryRef Id ="Path_ManufacturerFolder">
			<Component Id ="Comp_ManufacturerFolder" Guid="{0a33aaa2-9797-4617-9181-de38c461ac6b}" >
				<RemoveFolder Id="Path_ManufacturerFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\ExorLive" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id ="INSTALLDIR">
			<Component Id ="Comp_RegistryPath" Guid="{600a177e-2721-4e0e-8aa4-85561d294333}">
				<!-- Old version registry path that should point to the new install location -->
				<RegistryValue Root="HKCU" Key="Software\Exor Live\Exor Live WebWrapper" Name="path" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
				<RegistryValue Root="HKCU" Key="Software\Exor Live\Exor Live WebWrapper" Name="version" Type="string" Value="[ProductVersion]" />
			</Component>
			<Component Id ="Comp_ProductFolder" Guid="{f11e4c93-9c6a-4058-9e5a-6556424c76f2}" >
				<RemoveFolder Id="INSTALLDIR" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="path" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="version" Type="string" Value="[ProductVersion]" />
			</Component>
			<Component Id="Comp_eoBrowserObjectjs" Guid="{AF74DAAE-998E-4D4E-AC45-542FAA8C5490}">
				<File Id="File_eoBrowserObject.js" KeyPath="yes" Source="Files\eoBrowserObject.js" />
			</Component>
			<Component Id="Comp_EOBasedll" Guid="{3B19F727-7266-DB92-73AD-2C39A7F34663}">
				<File Id="File_EO.Base.dll" KeyPath="yes" Source="Files\EO.Base.dll" />
			</Component>
			<Component Id="Comp_EOWebBrowserdll" Guid="{75C53201-1C40-DD75-123A-E275CBF104F5}">
				<File Id="File_EO.WebBrowser.dll" KeyPath="yes" Source="Files\EO.WebBrowser.dll" />
			</Component>
			<Component Id="Comp_EOWebBrowserWpfdll" Guid="{B9D3BCF1-1EC3-38A7-EC63-5DC59A5F6123}">
				<File Id="File_EO.WebBrowser.Wpf.dll" KeyPath="yes" Source="Files\EO.WebBrowser.Wpf.dll" />
			</Component>
			<Component Id="Comp_EOWebEnginedll" Guid="{4739F003-3E99-F50A-5CEB-88907F1000EC}">
				<File Id="File_EO.WebEngine.dll" KeyPath="yes" Source="Files\EO.WebEngine.dll" />
			</Component>
			<Component Id="Comp_ExorLiveDesktopdll" Guid="{7F2C6FD3-3EB6-60E1-CB27-E3BE0294D0A7}">
				<File Id="File_ExorLive.Desktop.dll" KeyPath="yes" Source="Files\ExorLive.Desktop.dll" />
			</Component>
			<Component Id="Comp_HardcodetWpfTaskbarNotificationdll" Guid="{AC1CFE88-8AFB-6664-58B7-900CC9E20DF4}">
				<File Id="File_Hardcodet.Wpf.TaskbarNotification.dll" KeyPath="yes" Source="Files\Hardcodet.Wpf.TaskbarNotification.dll" />
			</Component>
			<Component Id="Comp_NewtonsoftJsondll" Guid="{6434B9B6-61CA-51A5-E75F-CF7F4BA0DC88}">
				<File Id="File_Newtonsoft.Json.dll" KeyPath="yes" Source="Files\Newtonsoft.Json.dll" />
			</Component>
			<Component Id="Comp_AppConfig" Guid="{c4662d05-e830-45f2-a4b5-281b700fc409}">
				<File Id="File_AppConfig" KeyPath="yes" Source="Files\ExorLive.Client.WebWrapper.exe.config" />
			</Component>
			<Component Id="Comp_ExorLiveClientWebWrapperexe" Guid="{a4c04c3f-c2cd-4aaf-b61c-28f659cd0738}">
				<File Id="File_ExorLive.Client.WebWrapper.exe" KeyPath="yes" Source="Files\ExorLive.Client.WebWrapper.exe" />
				<Shortcut Id="Cmp_ProgramShortcut_Primary" Directory="ProgramMenuDir" Name="ExorLive" Icon="exorlive.ico" Advertise="yes" />
				<Shortcut Id="Cmp_DesktopShortcut_Primary" Directory="DesktopFolder" Name="ExorLive" Icon="exorlive.ico" Advertise="yes" />
				<RemoveFolder Directory="ProgramMenuDir" Id="RemoveProgramMenuDir" On="uninstall" />
			</Component>
		</DirectoryRef>
		<Feature Id="AlwaysInstall" Level="1" Title="Always Install">
			<ComponentRef Id="Comp_ManufacturerFolder" />
			<ComponentRef Id="Comp_RegistryPath" />
			<ComponentRef Id="Comp_ProductFolder" />
			<ComponentRef Id="Comp_eoBrowserObjectjs" />
			<ComponentRef Id="Comp_EOBasedll" />
			<ComponentRef Id="Comp_EOWebBrowserdll" />
			<ComponentRef Id="Comp_EOWebBrowserWpfdll" />
			<ComponentRef Id="Comp_EOWebEnginedll" />
			<ComponentRef Id="Comp_ExorLiveDesktopdll" />
			<ComponentRef Id="Comp_HardcodetWpfTaskbarNotificationdll" />
			<ComponentRef Id="Comp_NewtonsoftJsondll" />
			<ComponentRef Id="Comp_ExorLiveClientWebWrapperexe" />
			<ComponentRef Id="Comp_AppConfig" />
		</Feature>
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<Icon Id="exorlive.ico" SourceFile="Icon\exorlive.ico" />
	</Product>
</Wix>